// This file is SmallKB.dts, board DTS for 1-Key Simple BLE Keyboard

/dts-v1/;
#include <nordic/nrf52832_qfaa.dtsi>
#include "SmallKB-pinctrl.dtsi"

/ {
	model = "1-Key Keyboard";
	compatible = "wdee,custom-board-name";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	zephyr,user {
		// DISPW 読み取り用のGPIOピンをここで定義する
		dipsw-gpios =
			<&gpio0 11 (GPIO_ACTIVE_HIGH)>,
			<&gpio0 12 (GPIO_ACTIVE_HIGH)>,
			<&gpio0 17 (GPIO_ACTIVE_HIGH)>,
			<&gpio0 29 (GPIO_ACTIVE_HIGH)>,
			<&gpio0 30 (GPIO_ACTIVE_HIGH)>,
			<&gpio0 10 (GPIO_ACTIVE_HIGH)>,
			<&gpio0 9  (GPIO_ACTIVE_HIGH)>;
	};


	gpio_keys_pairing_button {
		compatible = "gpio-keys";
		pairing_button: pairing_button {
			gpios = <&gpio0 27 (GPIO_ACTIVE_LOW|GPIO_PULL_UP)>;
			label = "Pairing Button";
		};
	};

	
	gpio_keys_key_button {
		compatible = "gpio-keys";
		key_button: key_button {
			gpios = <&gpio0 18 (GPIO_ACTIVE_LOW|GPIO_PULL_UP)>;
			label = "Key Button";
		};
	};

    leds {
        compatible = "gpio-leds";
        led0: led0 {
            gpios = <&gpio0 4 (GPIO_ACTIVE_HIGH)>;
            label = "Status LED";
        };
    };
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(48)>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000c000 DT_SIZE_K(220)>;
		};

		slot1_partition: partition@43000 {
			label = "image-1";
			reg = <0x00043000 DT_SIZE_K(220)>;
		};

		storage_partition: partition@7a000 {
			label = "storage";
			reg = <0x0007a000 DT_SIZE_K(24)>;
		};
	};
};


&uart0 {
    status = "disabled";
};

&gpio0 {
    status = "okay";
};

&gpiote {
    status = "okay";
};
// End of SmallKB.dts